@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<script type="text/javascript" src="~/js/app/AboutViewModel.js"></script>

<h2 class="text-center">
    About
</h2>

<p>Birthday: October 8, 2020</p>
<p>Mom: Kalo</p>
<p>Breeder: <a href="https://bernerbabies.com">Berner Babies</a></p>