@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<script type="text/javascript" src="~/js/app/HomeIndexViewModel.js"></script>

<div id="container">
    <div class="row" data-bind="foreach: pictures">
        <div class="col-md-3 col-sm-4 col-6">
            <div class="card mb-3">
                <img data-bind="attr: {src: url}" class="img-fluid" />
                <div class="card-body">
                    <p class="card-text" style="font-size: 10px"><span data-bind="text: title"></span></p>
                </div>
            </div><!--/card-->
        </div><!--/col-->
    </div><!--/row-->

    <div class="btn-group btn-block" role="group">
        <button type="button" class="btn btn-outline-secondary text-white" data-bind="click: previous">Previous</button>
        <button type="button" class="btn btn-outline-secondary text-white" data-bind="click: next">Next</button>
    </div>

    <hr />

    <h4 class="text-center text-white">About Me</h4>
    <p class="text-white">Name: Octavius</p>
    <p class="text-white">Birthday: October 8, 2020</p>
    <p class="text-white">Breed: Bernese Mountain Dog</p>
    <p class="text-white">Breeder: <a href="https://bernerbabies.com">Berner Babies</a></p>

</div><!--/container-->