@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@{
    Layout = "_Layout";
}

<div id="container">
    <button type="button" class="btn btn-primary" data-bind="click: go">Go</button>

    <div class="row" data-bind="foreach: pictures">
        <div class="col-md-3 com-sm-4 col-xs-6">

        </div>
    </div>

</div><!--/container-->