@model OctaviusTheDog.Models.HomeIndexModel
@using OctaviusTheDog.Utility;
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<script type="text/javascript" src="~/js/app/HomeIndexViewModel.js?@VersionArgs.Version"></script>

<div id="container">
    <div class="row" data-bind="foreach: pictures">
        <div class="col-md-3 col-sm-4 col-6">
            <div class="card mb-3">
                <img data-bind="attr: {src: previewUrl}, click: show" class="img-fluid" />
            </div><!--/card-->
        </div><!--/col-->
    </div><!--/row-->

    <div class="btn-group btn-block" role="group">
        <button type="button" class="btn btn-outline-secondary text-white" data-bind="click: previous">Previous</button>
        <button type="button" class="btn btn-outline-secondary text-white" data-bind="click: next">Next</button>
    </div>

    <hr />

    <p class="text-white">Subscribe to get updates when new pictures are posted</p>
    <form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="button-addon2" data-bind="value: emailAddress">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" id="button-addon2" data-bind="click: subscribe">Subscribe</button>
            </div>
        </div>
    </form>

    <hr />

    <h4 class="text-center text-white">About Me</h4>
    <p class="text-white">Name: Octavius</p>
    <p class="text-white">Birthday: @Model.BirthdateString (@Model.AgeInMonths months) </p>
    <p class="text-white">Breed: Bernese Mountain Dog</p>
    <p class="text-white">Breeder: <a href="https://bernerbabies.com">Berner Babies</a></p>
    <p class="text-white">Current Weight: @Model.CurrentWeight pounds</p>

    <div class="modal fade" id="picture-modal" tabindex="-1" aria-labelledby="picture-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="picture-modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="" class="img-fluid" id="picture-modal-image" />
                </div>
            </div>
        </div>
    </div>

</div><!--/container-->