@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<script type="text/javascript" src="~/js/app/HomeIndexViewModel.js"></script>

<div class="jumbotron">
    <h1 class="text-center">Octavius The Dog</h1>
</div>