@using OctaviusTheDog.Utility
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/js/app/AdminIndexViewModel.js?@VersionArgs.Version"></script>

<h1>Admin</h1>

<div id="container">
    <div class="row">
        <div class="col-md-4 col-sm-8 col-12">
            <form id="form" name="form" action="/Upload" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label class="text-white">Title</label>
                    <input type="text" class="form-control" data-bind="value: title"/>
                </div>
                <div class="form-group">
                    <label>Upload</label>
                    <div class="input-group mb-3">
                        <input type="file" id="fileUpload" class="form-control" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" data-bind="click: upload">Upload</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> 
    <div class="row">
        <div class="form-group">
            <label>Send Update</label>
            <button type="button" class="btn btn-primary" data-bind="click: sendUpdate">Send Update Email</button>
        </div>
    </div>
</div>
